@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&Alegreya&family=Genos:wght@500&family=Sedgwick+Ave+Display&display=swap');


/* ------------------------------------------------------
RESET
------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ------------------------------------------------------
VARIABLES
------------------------------------------------------ */
:root {
  /* Colors */
  --white: #FFF;
  --ghost-white: #F4F4F9;
  --drab-dark-brown: #373D20;
  --reseda-green: #717744;
  --sage: #BCBD8B;
  --siam: #69724E;
  --van-dyke: #564138;
  --brown-bramble: #4E3524;
  --nero-two: #292929;
  --nero: #232323;
  --can-can: #D7898D;
  --red: #F00;

  /* Fonts */
  --serif: 'Alegreya', serif;
  --serif-two: 'Instrument Serif', serif;
  --sans-serif: 'Genos', sans-serif;
  --cursive: 'Sedgwick Ave Display', cursive;
}


/* ------------------------------------------------------
GENERAL
------------------------------------------------------ */
body {
  font-family: var(--cursive);
  color: var(--white);
  background-color: var(--nero-two);
}


/* ------------------------------------------------------
HEADER
------------------------------------------------------ */
header {
  height: 115px;
  bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);
  position: relative;
  z-index: 1;
}

header img {
  width: 3rem;
}

header p {
  width: 114px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  text-align: center;
  position: sticky;
  bottom: 1rem;
  align-self: flex-end;
}


/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
main {
  width: 100%;
  font-family: var(--serif);
  font-weight: 900;
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.8rem;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 11px;
}

main div video {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  max-height: 610px;
  position: relative;
  top: -115px;
}

#barbecue-cuts {
  width: 300px;
  height: 271px;
  background-color: rgba(86, 65, 56, 0.8);
  position: relative;
  top: -164px;
  padding: 8px 30px 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#barbecue-cuts p {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
}

#opening-hours {
  width: 300px;
  height: 150px;
  background-color: rgba(105, 114, 78, 0.8);
  position: relative;
  top: -444px;
  padding: 0 20px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

#opening-hours p {
  font-size: 1.2em;
}

#opening-hours h2 {
  font-size: 2rem;
}

main > section > img {
  width: 100%;
  max-height: 700px;
  position: relative;
  top: -395px;
}

#top-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#who-we-are #paragraphs {
  column-count: 2;
  column-width: 300px;
  column-gap: 60px;
}

#noble-meats div,
#exotic-meats div{
  width: 100%;
  max-width: 1020px;
  gap: 20px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#noble-meats h2 {
  position: relative;
  top: -410px;
}

#noble-meats div {
  top: -400px;
}

#exotic-meats h2 {
  position: relative;
  top: -360px;
}

#exotic-meats div {
  top: -350px;
}

#noble-meats h2,
#exotic-meats h2 {
  margin-bottom: 15px;
  font-family: var(--serif);
  text-align: center;
  font-size: 2.5em;
  color: var(--white);
}

#noble-meats img,
#exotic-meats img {
  width: 18.75em;
  height: 370px;
}

#noble-meats figure,
#exotic-meats figure {
  position: relative;
}

figcaption {
  width: 100%;
  text-align: center;
  font-size: 2em;
  position: absolute;
  top: 50%;
  color: var(--white);
}

#who-we-are {
  width: 100%;
  padding: 20px 20px 20px 40px;
  margin-top: 40px;
  position: relative;
  top: -320px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.6em;
  text-align: justify;
  background-color: var(--white);
  color: var(--nero);
}

#who-we-are h2 {
  margin-bottom: 15px;
  font-size: 2.2em;
  color: var(--nero);
}

#who-we-are p:first-child::first-letter {
  font-size: 1.7em;
  font-weight: bold;
}

#who-we-are p {
  margin: 3px 0;
  text-indent: 30px;
}

#who-we-are ul {
  margin: 10px 0;
}

/* ------------------------------------------------------
FORM
------------------------------------------------------ */
form {
  width: 94%;
  max-width: 453px;
  font-family: var(--sans-serif);
  font-weight: 400;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dotted rgba(105, 114, 78, 0.8);
  color: rgba(105, 114, 78, 0.8);
  border-radius: 3px;
  position: relative;
  top: -240px;
}

div#formContainer {
  display: flex;
  flex-wrap: wrap;
}

fieldset {
  width: 100%;
  margin-bottom: 30px;
  border: none;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  max-width: 450px;
}

form > h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2.3em;
}

fieldset#radio-button > label,
fieldset#select > label,
fieldset#checkbox > label {
  color: var(--siam);
}

label {
  width: 90%;
  padding-left: 3px;
  text-align: left;
  color: var(--white);
}

input#name,
input#email,
input#phone {
  width: 95%;
  height: 50px;
  padding: 7px;
  font-size: 0.8em;
  font-family: var(--sans-serif);
  letter-spacing: 2px;
  outline-color: var(--nero);
  transition: width 0.4s ease-in-out;
}

textarea#message {
  width: 95%;
}

input[type=button] {
  width: 95%;
  max-width: 350px;
  height: 60px;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 1.6em;
  border-radius: 6px;
  letter-spacing: 2px;
  font-family: var(--sans-serif);
  cursor: pointer;
  transition: width 0.4s ease;
  box-shadow: 0 0 5px 3px rgba(105, 114, 78, 0.8);
  background-color: rgba(105, 114, 78, 0.8);
  border: 1px solid var(--white);
  color: var(--white);
}

.invalidNameMessage {
  width: 85%;
  max-width: 260px;
  font-size: 16px;
  text-align: center;
  color: var(--red);
  border: 1px solid var(--red);
  background-color: var(--white);
  border-radius: 4px;
  position: absolute;
  bottom: 712px;
  z-index: 1;
}

.invalidEmailMessage {
  width: 97%;
  max-width: 279px;
  padding: 3px 12px;
  font-size: 16px;
  color: var(--red);
  border: 1px solid var(--red);
  background-color: var(--white);
  border-radius: 4px;
  position: absolute;
  bottom: 505px;
  z-index: 1;
}

.invalidEmailMessage span {
  display: block;
  text-align: center;
  font-size: 18px;
}

.invalidEmailMessage li {
  list-style-type: none;
}

.invalidPhoneMessage {
  width: 85%;
  max-width: 279px;
  font-size: 16px;
  text-align: center;
  color: var(--red);
  border: 1px solid var(--red);
  background-color: var(--white);
  border-radius: 4px;
  position: absolute;
  bottom: 534px;
  z-index: 1;
}

.invalidPreferenceMessage {
  width: 85%;
  max-width: 260px;
  font-size: 16px;
  text-align: center;
  color: var(--red);
  border: 1px solid var(--red);
  background-color: var(--white);
  border-radius: 4px;
  padding: 0 3px;
  position: absolute;
  bottom: 338px;
  z-index: 1;
}

.invalidCommunicationMessage {
  width: 85%;
  max-width: 260px;
  font-size: 16px;
  text-align: center;
  color: var(--red);
  border: 1px solid var(--red);
  background-color: var(--white);
  border-radius: 4px;
  padding: 0 3px;
  position: absolute;
  bottom: 85px;
  z-index: 1;
}

.invalidTextMessage {
  width: 85%;
  max-width: 260px;
  font-size: 16px;
  text-align: center;
  color: var(--red);
  border: 1px solid var(--red);
  background-color: var(--white);
  border-radius: 4px;
  padding: 0 3px;
  position: absolute;
  bottom: 462px;
  z-index: 1;
}

fieldset#radio-button > div,
fieldset#checkbox > div {
  width: 80%;
  line-height: 24px;
}

fieldset#select > div#favoriteMeat {
  width: 80%;
}

fieldset#select div.listDropDown {
  width: 226px;
  padding-right: 8px;
  line-height: 24px;
  text-align: right;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--nero-two);
}

input#favorite-meat {
  box-sizing: border-box;
  border: none;
  outline: none;
  border: .5px solid #2D2D2D;
  width: 235.27px;
  height: 30px;
  padding: 7px 7px 7px 21px;
  font-size: 0.8em;
  font-family: var(--sans-serif);
  color: var(--nero-two);
  cursor: pointer;
}

input#favorite-meat::placeholder {
  color: var(--nero-two);
}

.dropDown {
  width: 235.27px;
  border-radius: 2px;
  margin-top: 10px;
  border: .5px solid #2D2D2D;
  height: 90px;
  overflow: auto;
  display: none;
  transition: .5s;
  transform: translate(0px, -10px);
}

::-webkit-scrollbar {
  background-color: #1D1D1D;
  width: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #5B5B5B;
  border-radius: 5px;
}

.item {
  height: 30px;
  padding: 0 5px;
  box-sizing: border-box;
  transition: .3s;
  cursor: pointer;
}

span.item:hover {
  background-color: #121212;
  padding-left: 7px;
} 
  
span#exotic,
span#traditional,
span#both {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid var(--white);
  cursor: pointer;
}

div.listDropDown span:hover {
  background-color: rgba(41, 41, 41, 0.2);
  transition: .3s;
}

span#exotic.check,
span#traditional.check,
span#both.check {
  background-color: var(--can-can);
}

span#allMeans.check,
span#eMail.check,
span#sms.check {
  background-color: var(--can-can);
}

span#allMeans,
span#eMail,
span#sms {
  width: 14px;
  height: 14px;
  display: inline-block;
  border: 1px solid var(--white);
  border-radius: 3px;
  cursor: pointer;
}

fieldset#select {
  position: relative;
}

svg#arrow {
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 34px;
}

svg#arrow > p {
  width: 100%;
  display: flex;
  justify-content: center;
}

svg#arrow i.arrow {
  border: solid var(--nero);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

svg#arrow i.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

svg#arrow i.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

#our-space {
  position: relative;
  top: -180px;
}

#our-space img {
  width: 100%;
  max-height: 690px;
}

#our-space h2 {
  margin-bottom: 15px;
  font-family: var(--serif-two);
  color: var(--white);
  text-align: center;
  font-size: 2.5em;
}

#location h2 {
  margin-bottom: 15px;
  font-family: var(--serif-two);
  text-align: center;
  font-size: 2.5em;
  color: var(--white);
}

#location {
  width: 100%;
  position: relative;
  top: -120px;
}

#location iframe {
  border: none;
  width: 100%;
  height: 450px;
}


/* ------------------------------------------------------
FOOTER
------------------------------------------------------ */
footer {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  font-weight: 300;
  font-family: var(--serif);
  position: relative;
  top: 7412px;
  width: 100%;
  height: 260px;
  border-top  : 1px solid rgba(105, 114, 78, 0.8);
}

footer div {
  margin-right: 30px;
}


/* ------------------------------------------------------
MEDIA QUERIES
------------------------------------------------------ */
@media (min-width: 324px) {
  .invalidEmailMessage {
    bottom: 506px;
  }

  footer {
    top: 7450px;
  }
}

@media (min-width: 330px) {
  .invalidNameMessage {
    bottom: 684px;
  }

  .invalidEmailMessage {
    bottom: 478px;
  }

  .invalidPhoneMessage {
    bottom: 506px;
  }

  .invalidTextMessage {
    bottom: 434px;
  }

  .invalidPreferenceMessage {
    bottom: 309px;
  }

  footer {
    top: 7420px;
  }
}

@media (min-width: 340px) {
  .invalidEmailMessage {
    bottom: 478px;
  }

  .invalidPhoneMessage {
    bottom: 506px;
  }

  .invalidPreferenceMessage {
    bottom: 308px;
  }

  footer {
    top: 7332px;
  }
}

@media (min-width: 349px) {
  footer {
    top: 7356px;
  }
}

@media (min-width: 410px) {
  header {
    top: 10px;
  }
  
  header p {
    font-size: 2.2em;
  }
  
  header img {
    width: 4.5rem;
  }
  
  #noble-meats img,
  #exotic-meats img {
    width: 370px;
  }

  footer {
    height: 200px;
  }
}

@media (min-width: 470px) {
  .invalidCommunicationMessage {
    left: 26px;
  }

  footer {
    top: 7380px;
  }
}

@media (min-width: 518px) {
  footer {
    top: 7290px;
  }

  main > section > img {
    width: 90%;
    top: -390px;
  }
}

@media (min-width: 572px) {
  footer {
    top: 7320px;
  }
}

@media (min-width: 588px) {
  footer {
    top: 7256px;
  }
}

@media (min-width: 688px) {
  footer {
    top: 7285px;
  }

  header {
    top: 20px;
  }

  header p {
    font-size: 2.5em;
  }

  header img {
    width: 5rem;
  }
}

@media (min-width: 708px) {
  footer {
    top: 7320px;
  }
}

@media (min-width: 765px) {
  footer {
    top: 5770px;
  }
}

@media (min-width: 772px) {
  footer {
    top: 5780px;
  }
}

@media (min-width: 775px) {
  form {
    padding: 12px;
    width: 94%;
  }

  .invalidNameMessage {
    bottom: 696px;
  }

  .invalidEmailMessage {
    bottom: 491px;
  }

  .invalidPhoneMessage {
    bottom: 518px;
  }

  .invalidTextMessage {
    bottom: 445px;
  }

  .invalidPreferenceMessage {
    bottom: 321px;
  }

  .invalidCommunicationMessage {
    bottom: 98px;
    left: 41px;
  }
}

@media (min-width: 785px) {
  footer {
    top: 5806px;
  }
}

@media (min-width: 830px) {
  footer {
    top: 5836px;
  } 
}

@media (min-width: 840px) {
  footer {
    top: 5856px;
  }
}

@media (min-width: 889px) {
  #paragraphs {
    font-size: 1.1em;
  }

  footer {
    top: 5900px;
  }
}

@media (min-width: 910px) {
  header {
    top: 40px;
  }

  header p {
    font-size: 3.5em;
  }

  header img {
    width: 7rem;
  }

  #noble-meats img,
  #exotic-meats img {
    width: 498px;
  }

  footer {
    top: 7496px;
  }
}

@media (min-width: 940px) {
  footer {
    top: 7538px;
  }
}

@media (min-width: 970px) {
  footer {
    top: 7550px;
  }
}

@media (min-width: 990px) {
  footer {
    top: 7580px;
  }
}

@media (min-width: 1021px) {
  footer {
    top: 6010px;
  }
}

@media (min-width: 1031px) {
  form {
    max-width: 950px;
  }

  .invalidNameMessage {
    bottom: 474px;
  }

  .invalidEmailMessage {
    bottom: 269px;
  }

  .invalidPhoneMessage {
    bottom: 296px;
  }

  .invalidTextMessage {
    bottom: 224px;
  }

  .invalidPreferenceMessage {
    bottom: 540px;
    right: 2px;
  }

  .invalidCommunicationMessage {
    bottom: 233px;
    left: 683px;
  }

  footer {
    top: 5802px;
  }
}

@media (min-width: 1050px) {
  footer {
    top: 5720px;
  }

  #our-space img {
    width: 98.5vw;
    max-height: 680px;
  }
}
